/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top{
	//-------------------------------------------------------
	&1{
		
	}
	//-------------------------------------------------------
	&2{

	}
	//-------------------------------------------------------
	&3{
		
	}
	//-------------------------------------------------------
	&4{
		
	}
}
/*------------------------------------------------------------
MENU slick
------------------------------------------------------------*/
.navbar-togglem {
  display: none;
}
.nav-wrap {
	position: absolute;
	top: 620px;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1000px;
}
.nav-ul{ 
	display: inline-block;
	vertical-align: middle;
	li{
		display: inline-block;
		font-size: 14px;
		&:nth-child(1) a {
    		padding-left: 0;
		}
	}
	a{
	 	padding: 0 25px;
	 	display: inline-block;
	 	line-height: 10px;
	}
}
.nav-wrap__list-link{
	display: inline-block;
	vertical-align: middle;
	.lk-lis--icon {
	    padding: 0 7.5px;
	    display: inline-block;
	    img{
	    	max-width: 36px;
	    }
	}
	.lk-lis--icon:nth-child(1) {
	    margin-left: 17.5px;
	}
}
.navbar-togglem {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  border: solid 1px transparent;
  border-radius: 4px;
  outline: none;
  float: right;
  display: none;
  &.open {
    z-index: 3;
  }
  .icon-bar {
    + .icon-bar {
      margin-top: 7.5px;
    }
    transition: all .3s ease-in-out;
	display: block;
	width: 30px;
	height: 2px;
	border-radius: 1px;
	background-color: #622100;
  }
  &.open .icon-bar {
    &:nth-child(1) {
	    -webkit-transform: translate(-1px, 7px) rotate(-225deg);
	    transform: translate(-1px, 7px) rotate(-225deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
	    -webkit-transform: translate(-1px, -12px) rotate(225deg);
	    transform: translate(-1px, -12px) rotate(225deg);
    }
  }
}
@media screen and (max-width: 767px){
	.nav-wrap {
	    transform: none;
	}
	.navbar-togglem {
	  display: block;
	  z-index: 9999;
	  position: fixed;
	  right: 30px;
	  top: 40px;
	  .icon-bar + .icon-bar {
	      margin-top: 7.5px;
	  }
	}
	.indexmodule01 .nav-wrap {
	  margin: 0;
	  position: fixed;
	  top: 0;
	  left: 0;
	  height: 100vh;
	  width: 100%;
	  z-index: 2;
	  display: none;
	  background-color: #F9F4F0;
	  transition: all .3s ease-in-out;
	  transform: none;
	}
	
	.nav-ul {
	  width: 100%;
	  position: relative;
	  overflow: auto;
	  margin-top: 67px;
	  > li {
	    display: block;
	    float: none;
	    margin: 0;
	    padding: 0;
	    margin-bottom: 10px;
	    > a {
	      display: block;
	      line-height: 20px;
	      padding: 15px 0;
	      font-size: 15px;
	    }
	  }
	}
	.nav-wrap__list-link {
	    display: block;
	    text-align: center;
	    margin-top: 19px;
	    .lk-lis--icon{
	    	img {
	        	max-width: 34px;
	    	}
	    }
	}

}
