.sweetmodule01 {
  position: relative;
}

.sweetmodule01 .nav-wrap {
  position: absolute;
  top: 375px;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sweetmodule01 .logo {
  display: inline-block;
  margin: 0 auto;
  margin-top: 120px;
  max-width: 138px;
}

.sweetmodule01 .list-main li {
  display: inline-block;
  font-size: 1.4rem;
}

.sweetmodule01 .list-main li a {
  padding: 0 2.5rem;
  display: inline-block;
}

.sweetmodule01 .list-main li:nth-child(1) a {
  padding-left: 0;
}

.sweetmodule01 .list-main li img {
  vertical-align: middle;
}

.slider-topsweet .slider-item {
  position: relative;
}

.slider-topsweet .nav-menu {
  bottom: 120px;
  position: absolute;
  text-align: center;
  left: 50%;
  color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-topsweet .nav-menu .wrapper-list {
  margin-top: 8rem;
  font-size: 0;
}

.slider-topsweet .nav-menu .wrapper-list .list-main, .slider-topsweet .nav-menu .wrapper-list .list-link {
  display: inline-block;
  vertical-align: middle;
}

.slider-topsweet .nav-menu .list-link .lk-lis--icon {
  padding: 0 0.75rem;
  display: inline-block;
}

.slider-topsweet .nav-menu .list-link .lk-lis--icon:nth-child(1) {
  margin-left: 1.75rem;
}

.slider-topsweet .slide--content {
  margin: auto;
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 0;
  color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-topsweet__slide--img {
  height: 520px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-topsweet__slide--img .images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
}

.sweetmodule02 {
  padding-top: 90px;
}

.sweetmodule02[class*="item-style0"] p {
  font-size: 1.4rem;
}

.sweetmodule02 .item-style01 .content {
  margin-bottom: 70px;
}

.sweetmodule02 .item-style01 .swemodu02--descript p {
  padding-right: 5rem;
}

.sweetmodule02 [class*="item-style0"] {
  font-size: 0;
}

.sweetmodule02 [class*="item-style0"] > * {
  display: inline-block;
  vertical-align: top;
}

.sweetmodule02 [class*="item-style0"] .readmore {
  display: inline-block;
  background-color: #642200;
  padding: 13px 70px;
  line-height: 1rem;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 80px;
}

.sweetmodule02 [class*="item-style0"] .content {
  width: calc(100% - 30rem);
}

.sweetmodule02 [class*="item-style0"] .content img {
  width: 300px;
}

.sweetmodule02 .swemodu02--title {
  font-size: 1.6rem;
  color: #642200;
  line-height: 0.888;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.sweetmodule02 .swemodu02--title p {
  letter-spacing: 1.6px;
  font-weight: 700;
  padding-bottom: 15px;
}

.sweetmodule02 .swemodu02--descript p {
  font-size: 1.37rem;
  line-height: 2;
  color: #000;
  letter-spacing: 0.7px;
}

.sweetmodule02 .item-style02 {
  padding-top: 70px;
  border-top: 0.1rem solid #CCCCCC;
}

.sweetmodule02 .item-style02 .content {
  float: right;
  margin-bottom: 90px;
}

.sweetmodule02 .item-style02 .content .readmore {
  float: left;
}

.sweetmodule02 .item-style02 .swemodu02--title {
  padding-left: 4rem;
}

.sweetmodule02 .item-style02 .swemodu02--descript {
  padding-left: 5rem;
}

.sweetmodule03 {
  padding-bottom: 90px;
  padding-top: 90px;
}

.sweetmodule03 .comp-main-title {
  margin-bottom: 50px;
}

.sweetmodule03 .swemod03--content {
  padding: 0 80px;
}

.sweetmodule03 .swemod03--content--p {
  font-size: 1.4rem;
  line-height: 30px;
  color: #000;
  letter-spacing: 0.4px;
}

.sweetmodule03 .swemod03--content--bottom {
  margin-top: 40px;
}

.sweetmodule03 .swemod03--title {
  margin-top: 50px;
  font-size: 1.6rem;
  color: #642200;
  padding-bottom: 16px;
  border-bottom: 1px dotted #642200;
  margin-bottom: 15px;
  font-weight: bold;
}

.sweetmodule04 {
  padding: 90px 0;
}

.sweetmodule04 .swemodu04-wrap {
  margin: 0 -10px;
  font-size: 0;
}

.sweetmodule04 .swemodu04-wrap .item {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  width: 340px;
}

.sweetmodule04 .swemodu04-wrap .item-decor {
  padding: 35px 19px;
  border: 1px solid #CCCCCC;
}

.sweetmodule04 .swemodu04-wrap__img {
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}

.sweetmodule04 .swemodu04-wrap__img span {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 35%;
  color: #fff;
  font-size: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sweetmodule04 .swemodu04-wrap__title {
  font-size: 1.6rem;
  color: #642200;
  padding-bottom: 20px;
  border-bottom: 1px dotted #CCCCCC;
  margin-bottom: 20px;
  line-height: 1;
}

.sweetmodule04 .swemodu04-wrap__descript {
  color: #000;
}

.sweetmodule04 .swemodu04-wrap__descript p {
  text-overflow: ellipsis;
  width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 12;
  display: -webkit-box;
  max-height: 330px;
  font-size: 1.37rem;
  line-height: 2;
  color: #000;
  letter-spacing: 0.7px;
}

.sweetmodule04 .readmore {
  text-align: center;
}

.sweetmodule04 .readmore a {
  display: inline-block;
  background-color: #642200;
  padding: 1.2rem 7rem;
  line-height: 1rem;
  color: #fff;
  font-size: 1.6rem;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .all {
    width: 100%;
  }
  .sweetmodule01 .logo {
    max-width: 110px;
    margin-top: 117.5px;
  }
  .sweetmodule01 .slider-topsweet__slide--img {
    height: 100vmin;
  }
  .sweetmodule01 .nav-wrap {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: none;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: none;
            transform: none;
  }
  .sweetmodule02, .sweetmodule03, .sweetmodule04 {
    padding: 60px 20px;
  }
  .sweetmodule02 [class*="item-style0"] {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 30px;
  }
  .sweetmodule02 [class*="item-style0"] .image {
    width: 100%;
    text-align: center;
    padding: 0 92.5px;
  }
  .sweetmodule02 [class*="item-style0"] .content {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
  }
  .sweetmodule02 [class*="item-style0"] .content .readmore {
    margin-top: 30px;
    display: block;
    text-align: center;
    float: none;
  }
  .sweetmodule02 [class*="item-style0"] .swemodu02--title {
    line-height: 1.5;
    padding-left: 0;
  }
  .sweetmodule02 [class*="item-style0"] .swemodu02--title p {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
  }
  .sweetmodule02 [class*="item-style0"] .swemodu02--descript {
    padding-left: 0;
  }
  .sweetmodule02 [class*="item-style0"] .swemodu02--descript p {
    padding-right: 0;
    padding-left: 0;
    font-size: 1.2rem;
    line-height: 1.9;
  }
  .sweetmodule02 .item-style01 {
    padding-top: 40px;
    margin-top: 0;
  }
  .sweetmodule02 .mr-bot50 {
    margin-bottom: 0px;
  }
  .sweetmodule03 {
    background-color: #FAFAFA;
  }
  .sweetmodule03 .mr-bot50 {
    margin-bottom: 45px;
  }
  .sweetmodule03 .comp-main-title img {
    max-width: 141px;
  }
  .sweetmodule03 .swemod03--title {
    letter-spacing: 0.1px;
    margin-top: 30px;
    font-size: 1.5rem;
  }
  .sweetmodule03 .mr-bot50 {
    margin-bottom: 45px;
  }
  .sweetmodule03 .swemod03--content {
    padding: 0px;
  }
  .sweetmodule03 .swemod03--content--p {
    font-size: 1.2rem;
    line-height: 1.9;
  }
  .sweetmodule03 .swemod03--content--bottom {
    margin-top: 35px;
  }
  .sweetmodule04 .mr-bot50 {
    margin-bottom: 45px;
  }
  .sweetmodule04 .comp-main-title img {
    max-width: 105px;
  }
  .sweetmodule04 .swemodu04-wrap__title {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .sweetmodule04 .swemodu04-wrap .item {
    width: 100%;
  }
  .sweetmodule04 .swemodu04-wrap .item + .item {
    margin-top: 25px;
  }
  .sweetmodule04 .item-decor .img {
    margin-bottom: 35px;
  }
  .sweetmodule04 .item-decor .img span {
    font-weight: 700;
    font-size: 40px;
  }
  .sweetmodule04 .item-decor .content img {
    width: 100%;
  }
  .sweetmodule04 .item-decor .title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  .sweetmodule04 .readmore a {
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 11.5px 0;
    display: block;
  }
}
