/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.mainFooter{
	background-image: url(../../assets/img/bck_footer.png);
	width: 100%;
	background-position: left center;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
	background-size: cover;
	img{
		width: 100%;
		display:block;
		max-width: 70px;
	}
	.logoft {
			padding-bottom: 30px;
			margin-bottom: 35px;
			position: relative;
			display: inline-block;
			padding-top: 70px;	
		    &:before{
			    content: '';
			    position: absolute;
			    border-bottom: 0.1rem solid #fff;
			    width: 230px;
			    left: 50%;
			    bottom: 0;
			    transform: translateX(-50%);
		    }

	}
	.info-time {
		    padding-bottom: 20px;
		    position: relative;
		    font-size: 1.3rem;
		    margin-bottom: 30px;
		    color: #fff;
	    	p{
	    		margin-bottom: 20px;
	    		line-height: 13px;
	    		font-size: 1.3rem;
	    	}
	        &:before{
	    	    content: '';
	    	    position: absolute;
	    	    border-bottom: 0.1rem solid #fff;
	    	    width: 23rem;
	    	    left: 50%;
	    	    bottom: 0;
	    	    transform: translateX(-50%);
	        }
	}
	.list-network {
		margin-bottom: 30px;
		li{
		    display: inline-block;
		    padding: 0 6px;
		}
		img{
			max-width:36px;
		}
	}
	.copyright{
		font-size: 1.2rem;
		padding-bottom: 85px;
		display: inline-block;
	}
}
@media screen and (max-width: 767px)  { 
	.mainFooter{
	background-position: bottom;
		img{
		}
		.logoft {
				padding-top: 50px;
				padding-bottom: 35px;
				margin-bottom: 20px;
			    img{
			    	max-width: 60px;
			    }
			    &:before{
			    	width: 118px;
			    }
		}
		.info-time {
				margin-bottom: 30px;
				padding-bottom: 20px;
		    	p{
		    		font-size: 1rem;
		    		line-height: 1.1;
		    		margin-bottom: 10px;
		    	}
		    	&:before{
		    		width: 118px;
		    	}
		}
		.list-network {
			margin-bottom: 32px;
			li{
				padding: 0 7px;
			}
			img{
				max-width: 34px;
			}
		}
		.copyright{
			font-size: 1rem;
			padding-bottom: 40px;
			letter-spacing: 1.1px;
		}
	}
}